@media screen and (max-width: 950px) and (min-width: 620px) {
    .skills .container {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .skills .container .card {
        width: 47%;
        margin-top: 20px;
    }

    
}

@media screen and (max-width: 619px) {
    .skills .container {
        flex-direction: column;
    }
    .skills .container .card {
        width: 100%;
        margin-top: 20px;
    }
}

@media screen and (max-width: 800px) {
    .menu {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .header-section-links {
        display: none;
    }

    .header-image {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .header-image {
        display: none;
    }

    .contact {
        height: 900px;
    }

    .contact .container {
        flex-direction: column;
        justify-content: flex-start;
    }

    .contact-info .info-links {
        display: none;
    }

    .contact .container .contact-info {
        width: 80%;
        margin: 20px 0;
    }

    .contact .container .contact-form {
        width: 80%;
    }

    .contact .container .contact-form form {
        width: 100%;
        align-items: flex-start;
    }
}
